* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: red;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
  }
  
  img {
    width: 70%  ;
  }
  
  .input-name {
    display: flex;
    gap: 5px;
  }